{% extends 'base.html' %}

{% block title %}Editar Livro{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-center">Editar Livro</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.titulo.id_for_label }}">Título</label>
                    {{ form.titulo }}
                </div>
                <div class="form-group">
                    <label for="{{ form.autor.id_for_label }}">Autor</label>
                    {{ form.autor }}
                </div>
                <div class="form-group">
                    <label for="{{ form.isbn.id_for_label }}">ISBN</label>
                    {{ form.isbn }}
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    <a href="{% url 'lista_livros' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
