{% extends 'base.html' %}

{% block title %}Lista de Livros{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4 text-center">Lista de Livros</h1>

    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    {% if success_message %}
        <div class="alert alert-success" role="alert">
            {{ success_message }}
        </div>
    {% endif %}

    <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar livros...">
        </div>
    </div>

    <div class="row" id="livrosContainer">
        {% for livro in livros %}
            <div class="col-md-4 mb-4 livro-card">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ livro.titulo }}</h5>
                        <p class="card-text"><strong>Autor:</strong> {{ livro.autor }}</p>
                        <p class="card-text"><strong>ISBN:</strong> {{ livro.isbn }}</p>
                        <p class="card-text"><strong>Disponibilidade:</strong> {{ livro.quantidade }} cópias disponíveis</p>
                        <p class="card-text"><strong>Resumo:</strong> {{ livro.resumo }}</p>
                    </div>
                    <div class="card-footer">
                        {% if user.is_authenticated %}
                            {% if pendencias %}
                                <button class="btn btn-danger btn-block" disabled>Multa pendente</button>
                            {% else %}
                                {% if livro.disponivel %}
                                    {% if livro.id in alugueis_ativos %}
                                        <button class="btn btn-warning btn-block" disabled>Livro alugado</button>
                                    {% else %}
                                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirmAlugarModal" data-id="{{ livro.id }}">Alugar</button>
                                    {% endif %}
                                {% else %}
                                    <button class="btn btn-secondary btn-block" disabled>Indisponível</button>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a href="{% url 'login' %}" class="btn btn-primary btn-block">Entrar para Alugar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <p id="noResultsMessage" class="d-none">Nenhum livro encontrado.</p>
        </div>
    </div>
</div>

<!-- Modal de Confirmação -->
<div class="modal fade" id="confirmAlugarModal" tabindex="-1" role="dialog" aria-labelledby="confirmAlugarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmAlugarModalLabel">Confirmar Aluguel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Você está prestes a alugar este livro. Se você atrasar a devolução, estará sujeito a uma multa de R$ 1,00 por dia de atraso.</p>
                <p>Deseja continuar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a href="#" id="confirmAlugarButton" class="btn btn-primary">Confirmar Aluguel</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('#confirmAlugarModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var livroId = button.data('id');
            var confirmButton = $('#confirmAlugarButton');
            confirmButton.attr('href', '/alugar/' + livroId + '/');
        });

        document.getElementById('searchInput').addEventListener('input', function() {
            var searchQuery = this.value.toLowerCase();
            var livros = document.getElementsByClassName('livro-card');
            var noResultsMessage = document.getElementById('noResultsMessage');
            var hasVisibleBooks = false;

            Array.from(livros).forEach(function(livro) {
                var titulo = livro.getElementsByClassName('card-title')[0].innerText.toLowerCase();
                var autor = livro.getElementsByClassName('card-text')[0].innerText.toLowerCase();
                var isbn = livro.getElementsByClassName('card-text')[1].innerText.toLowerCase();

                if (titulo.includes(searchQuery) || autor.includes(searchQuery) || isbn.includes(searchQuery)) {
                    livro.style.display = '';
                    hasVisibleBooks = true;
                } else {
                    livro.style.display = 'none';
                }
            });

            if (hasVisibleBooks) {
                noResultsMessage.classList.add('d-none');
            } else {
                noResultsMessage.classList.remove('d-none');
            }
        });
    });
</script>
{% endblock %}
